<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringName"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=192.168.128.34;Initial Catalog=CRM_MSCRM;Integrated Security=False;User Id=dev;Password=P@ssw0rd;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringName" value="Data Source=192.168.128.34;Initial Catalog=CRM_MSCRM;Integrated Security=False;User Id=dev;Password=P@ssw0rd;MultipleActiveResultSets=True"/>
    <add key="CRMServerUrl" value="http://crm.4power.biz:5555/CRM/XRMServices/2011/Organization.svc"/>
    <add key="username" value="powercloud\developer1"/>
    <add key="password" value="P@ssw0rd"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
